<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">

<div th:fragment="sidebar(activeTab)" class="col-md-2 sidebar p-0">
    <div class="nav flex-column">

        <!-- Admin (виден только ROLE_ADMIN) -->
        <a th:href="@{/admin}"
           class="nav-link"
           th:classappend="${activeTab == 'admin'} ? 'active' : ''"
           sec:authorize="hasRole('ADMIN')">
            Admin
        </a>

        <!-- User (виден всем авторизованным) -->
        <a th:href="@{/user}"
           class="nav-link"
           th:classappend="${activeTab == 'user'} ? 'active' : ''">
            User
        </a>

    </div>
</div>

</html>